
@{
    ViewBag.Title = "Deducciones";
}


<div>
    <h2 id="titleCol">Registro de Deducciones</h2> <!--CAMBIAR-->
</div>
<div class="sechead">
    <select class="inputr" name="Rubros">
        <option value="value0">Incapacidades</option>
        <option value="value1">Preavisos</option>
        <option value="value0">Cesantías</option>
        <option value="value1">Ausencias</option>
        <option value="value0">Llegadas Tardías</option>
        <option value="value0">Adelantos</option>
        <option value="value1">Embargos</option>
    </select>                                 
</div>

<div id="SecSalario" class="container sections">
    
  
   Render
</div>

<script>
    var msg = "Esta seguro que desea eliminar los datos"

    function elim() {
        alert(msg);
    }
</script>
