@{
    ViewBag.Title = "EPlanillas";
}


<div>
    <h2 id="titleCol">Registro de Planillas</h2>
</div>
<div style="margin-top:50px; ">
    <button style="margin-left:20px; " type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Colaborador<img style="margin-left:5px" width="23" height="23" src="/img/user.png" /></button>
</div>

