@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layoutlogin.cshtml";
}
<style>
    .card {
        background-color: #ffffff00;
    }
   
</style>

<div id="ws">
    <div class="container" id="contncard">
        <div class="container">
            <div class="container">
                <div id="cardx">
                    <!--Contenedor de imagen y parráfo-->
                    <img src="~/img/LOGOactualizado.png" alt="Alternate Text" />
                    <p id="leyenda">
                        “Saber envejecer es la mayor de las sabidurías y uno de los más <br>
                        difíciles capítulos del gran arte de vivir”
                    </p>
                    <p id="autor">(Enrique Federico Amiel)</p>
                </div>
                    <div class="card card-container">
                        <img id="profile-img" class="profile-img-card" src="/img/logopeque.png" />
                        <p id="profile-name" class="profile-name-card"></p>
                        <form class="form-signin">
                            <span id="reauth-email" class="reauth-email"></span>
                            <input type="email" id="inputEmail" placeholder="Email address" required>
                            <input type="password" id="inputPassword" placeholder="Password" required>
                            <div id="remember" class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button id="boton " class="btn btn-lg btn-primary btn-block btn-signin" type="submit" onclick="valcredentials()">Ingresar</button>
                        </form>
                        <a href="#" class="forgot-password">
                            Forgot the password?
                        </a>
                    </div>
            </div>
        </div>
   </div>
</div>

<script>
    function valcredentials() {
        alert("Hello World!");
        location.href = '@Url.Action("Index", "Home")';
    }
</script>